@charset "UTF-8";
/* CSS Document */

div#container{width:1280px}
div#header {background-color:#99bbbb;}
div#menu {background-color:#DCDCDC;height:270px;width:200px;float:left;}
div#content {background-color:#FFFFFF;height:800px;width:1080px;float:left;}
rank_list_for_result{height:600px;width:600px;margin-right:-1px;float:left}
rank_list{width:411px;height:426px;margin-right:-1px;float:left}
div#list_bili {height:800px;width:500px}
div#list_uk {height:800px;width:500px}
div#list_recom {height:800px;width:500px}
.rank_list{width:411px;height:426px;margin-right:-1px;float:left}
.rank_list_title{height:30px}
.rank_list_title h3{color:#333;font-family:"Microsoft YaHei";font-weight:normal;font-size:18px;text-indent:10px;line-height:30px;height:30px;border-left:5px solid #0dad51;float:left}
#login {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),  
                0 1px 1px rgba(0, 0, 0, .2),
                0 3px 0 #fff,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 #fff,  
                0 7px 0 rgba(0, 0, 0, .2);
}
#login {
    position: absolute;
    z-index: 0;
}

#login:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px #fff;
}
h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

h1:after, 
h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;   
}

h1:after {      
    right: 0;
}

h1:before {
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

